/* Reset básico y estilos generales del body */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    overflow-x: hidden;
}

/* Espacio adicional para separar secciones del header y el breadcrumb (Mobile First) */
body main {
    padding-top: 115px !important;
}

/* Espacio adicional para separar secciones del header y el breadcrumb - Tablets e iPads */
@media (min-width: 768px) and (max-width: 1023px) {
    body main {
        padding-top: 130px !important;
    }
}

/* Espacio adicional para separar secciones del header y el breadcrumb - ipad pro (1024px - 1127px) */
@media (min-width: 1024px) and (max-width: 1127px) {
    body main {
        padding-top: 130px !important;
    }
}

/* Espacio adicional para separar secciones del header y el breadcrumb - Desktop grande (1128px en adelante) */
@media (min-width: 1128px) and (max-width: 2000px) {
    body main {
        padding-top: 85px !important;
    }
}

/* Espacio adicional para separar secciones del header y el breadcrumb - Ultra grande (más de 2000px) */
@media (min-width: 2001px) {
    body main {
        padding-top: 125px !important;
    }
}


/* Fondos */
#fondo_muebles_y_decoracion {
    background-image: url('../images/fondos/fondo_m.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

#fondo_alimentos {
    background-image: url('../images/fondos/fondo.avif') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;

}

#fondo_electrodomesticos {
    background-image: url('../images/fondos/electrodomesticos.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

#fondo_tecnologia {
    background-image: url('../images/fondos/tecnologia.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

#fondo_ropa {
    background-image: url('../images/fondos/ropa.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

#fondo_farmacia {
    background-image: url('../images/fondos/farmacia.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

#fondo_ferreteria {
    background-image: url('../images/fondos/ferreteria.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}

#fondo_juguetes {
    background-image: url('../images/fondos/fondo_m.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    min-height: 100vh !important;
}


/* margin-top para centrar la sección del vínculo cuando la visitemos */
.destino {
    scroll-margin-top: 155px;
}